In [621]:
import pandas as pd
import numpy as np
import seaborn as sns

In [622]:
df=pd.read_csv('data/finalTrain.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [623]:
df.shape

(45584, 20)

In [624]:
df.drop(columns=['Order_Date'],axis=1,inplace=True)

In [625]:
from pandas_profiling import ProfileReport
pf = ProfileReport(df)

In [626]:
# pf.to_widgets()

In [627]:
#As we can notice high correlation between (Delivery_location_latitude,Restaurant_latitude) and (Restaurant_longitude,Delivery_location_longitude) so we can remove each feature from both of the groups
df.drop(columns=['Restaurant_latitude','Restaurant_longitude'],inplace=True)

In [628]:
#Dropping id column
df.drop(columns=['ID'],inplace=True)

In [629]:
df.isnull().sum()

Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Delivery_location_latitude        0
Delivery_location_longitude       0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [630]:
df['Delivery_person_Age'].fillna(df['Delivery_person_Age'].median(),inplace=True)
df['Delivery_person_Ratings'].fillna(df['Delivery_person_Ratings'].mode()[0],inplace=True)
df['multiple_deliveries'].fillna(df['multiple_deliveries'].mode()[0],inplace=True)

In [631]:
df.select_dtypes('number').isna().sum()

Delivery_person_Age            0
Delivery_person_Ratings        0
Delivery_location_latitude     0
Delivery_location_longitude    0
Vehicle_condition              0
multiple_deliveries            0
Time_taken (min)               0
dtype: int64

In [632]:
df.select_dtypes('object').isna().sum()

Delivery_person_ID         0
Time_Orderd             1731
Time_Order_picked          0
Weather_conditions       616
Road_traffic_density     601
Type_of_order              0
Type_of_vehicle            0
Festival                 228
City                    1200
dtype: int64

In [633]:
df['City'].fillna(df['City'].mode()[0],inplace=True)
df['Festival'].fillna(df['Festival'].mode()[0],inplace=True)
df['Road_traffic_density'].fillna(df['Road_traffic_density'].mode()[0],inplace=True)
df['Time_Orderd'].fillna(df['Time_Orderd'].mode()[0],inplace=True)
df['Weather_conditions'].fillna(df['Weather_conditions'].mode()[0],inplace=True)

In [634]:
df.select_dtypes('object').isna().sum()

Delivery_person_ID      0
Time_Orderd             0
Time_Order_picked       0
Weather_conditions      0
Road_traffic_density    0
Type_of_order           0
Type_of_vehicle         0
Festival                0
City                    0
dtype: int64

In [635]:
df.isnull().sum()

Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Delivery_location_latitude     0
Delivery_location_longitude    0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

In [636]:
df.isnull().sum()

Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Delivery_location_latitude     0
Delivery_location_longitude    0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

In [637]:
df['Time_Orderd_hrs'] = df['Time_Orderd'].str.split(':').apply(lambda x: int(0 if '.' in x[0] else int(x[0])))
df['Time_Orderd_min'] = df['Time_Orderd'].str.split(':').apply(lambda x: int(x[1] if len(x)>1 else int(float(x[0])*60)))
df['Time_Order_picked_hrs'] = df['Time_Orderd'].str.split(':').apply(lambda x: int(0 if '.' in x[0] else int(x[0])))
df['Time_Order_picked_min'] = df['Time_Order_picked'].str.split(':').apply(lambda x: int(x[1] if len(x)>1 else int(float(x[0])*60)))

In [638]:
# Dropping Time_Orderd,Time_Order_picked
df.drop(columns=['Time_Orderd','Time_Order_picked'],axis=1,inplace=True)

In [639]:
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype(int)
df['multiple_deliveries'] = df['multiple_deliveries'].astype(int)

In [640]:
#Segregate numerical columns and categorical columns
numerical_columns = df.columns[df.dtypes!='object']
categorical_columns = df.columns[df.dtypes=='object']
print('numerical_columns',numerical_columns)
print('categorical_columns',categorical_columns)

numerical_columns Index(['Delivery_person_Age', 'Delivery_person_Ratings',
       'Delivery_location_latitude', 'Delivery_location_longitude',
       'Vehicle_condition', 'multiple_deliveries', 'Time_taken (min)',
       'Time_Orderd_hrs', 'Time_Orderd_min', 'Time_Order_picked_hrs',
       'Time_Order_picked_min'],
      dtype='object')
categorical_columns Index(['Delivery_person_ID', 'Weather_conditions', 'Road_traffic_density',
       'Type_of_order', 'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [641]:
df[numerical_columns]

,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min),Time_Orderd_hrs,Time_Orderd_min,Time_Order_picked_hrs,Time_Order_picked_min
0,36,4.2,30.397968,78.116106,2,3,46,21,55,21,10
1,21,4.7,10.043064,76.347589,1,1,23,14,55,14,5
2,23,4.7,18.652450,74.006619,1,1,21,17,30,17,40
3,34,4.3,30.919584,75.829346,0,0,20,9,20,9,30
4,24,4.7,26.593504,80.502929,1,1,41,19,50,19,5
...,...,...,...,...,...,...,...,...,...,...,...
45579,30,4.8,26.912328,75.804257,1,0,32,11,35,11,45
45580,21,4.6,0.070000,0.070000,0,1,36,19,55,19,10
45581,30,4.9,13.052394,80.272439,1,0,16,23,50,23,5
45582,20,4.7,11.041753,77.026241,0,1,26,13,35,13,40
45583,23,4.9,23.431058,85.405731,2,1,36,17,10,17,15

In [642]:
cat_df=df[categorical_columns]
cat_df.head()

,Delivery_person_ID,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
0,DEHRES17DEL01,Fog,Jam,Snack,motorcycle,No,Metropolitian
1,KOCRES16DEL01,Stormy,High,Meal,motorcycle,No,Metropolitian
2,PUNERES13DEL03,Sandstorms,Medium,Drinks,scooter,No,Metropolitian
3,LUDHRES15DEL02,Sandstorms,Low,Buffet,motorcycle,No,Metropolitian
4,KNPRES14DEL02,Fog,Jam,Snack,scooter,No,Metropolitian

In [643]:
print('Weather_conditions',cat_df['Weather_conditions'].unique())
print('Road_traffic_density',cat_df['Road_traffic_density'].unique())
print('Type_of_order',cat_df['Type_of_order'].unique())
print('Type_of_vehicle',cat_df['Type_of_vehicle'].unique())
print('Festival',cat_df['Festival'].unique())
print('City',cat_df['City'].unique())

Weather_conditions ['Fog' 'Stormy' 'Sandstorms' 'Windy' 'Cloudy' 'Sunny']
Road_traffic_density ['Jam' 'High' 'Medium' 'Low']
Type_of_order ['Snack' 'Meal' 'Drinks' 'Buffet']
Type_of_vehicle ['motorcycle' 'scooter' 'electric_scooter' 'bicycle']
Festival ['No' 'Yes']
City ['Metropolitian' 'Urban' 'Semi-Urban']

In [644]:
#As we see all ordinal categorical variable

In [645]:
categories = ['Fog','Stormy','Sandstorms','Windy','Cloudy','Sunny'],['Jam', 'High', 'Medium', 'Low'],['Drinks','Snack','Meal','Buffet'],['bicycle','electric_scooter','scooter','motorcycle'],['Yes','No'],['Semi-Urban','Urban','Metropolitian']
ordinal_cols = df[categorical_columns].drop(columns='Delivery_person_ID',axis=1)

In [646]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=list(categories))
encoded_columns = encoder.fit_transform(ordinal_cols)
encoded_df = pd.DataFrame(encoded_columns,columns=ordinal_cols.columns).astype(int)

In [647]:
encoded_df.head()

,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
0,0,0,1,3,1,2
1,1,1,2,3,1,2
2,2,2,0,2,1,2
3,2,3,3,3,1,2
4,0,0,1,2,1,2

In [662]:
#Merge encoded_df and numerical_df
final_df = pd.concat([df[numerical_columns],encoded_df],axis=1)
final_df.head()

,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min),Time_Orderd_hrs,Time_Orderd_min,Time_Order_picked_hrs,Time_Order_picked_min,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
0,36,4.2,30.397968,78.116106,2,3,46,21,55,21,10,0,0,1,3,1,2
1,21,4.7,10.043064,76.347589,1,1,23,14,55,14,5,1,1,2,3,1,2
2,23,4.7,18.652450,74.006619,1,1,21,17,30,17,40,2,2,0,2,1,2
3,34,4.3,30.919584,75.829346,0,0,20,9,20,9,30,2,3,3,3,1,2
4,24,4.7,26.593504,80.502929,1,1,41,19,50,19,5,0,0,1,2,1,2

In [666]:
X = final_df.drop(columns=['Time_taken (min)'])
y = final_df['Time_taken (min)']

In [667]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [669]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
linear = LinearRegression()
linear.fit(X_train,y_train)

LinearRegression()

In [670]:
y_pred = linear.predict(X_test)
print('mean_squared_error',mean_squared_error(y_pred,y_test))
print('mean_absolute_error',mean_absolute_error(y_pred,y_test))
print('r2_score',r2_score(y_pred,y_test))

mean_squared_error 43.69140027768579
mean_absolute_error 5.238988750317028
r2_score 0.004785445410551481

In [ ]:
# apply standard scaler and then build model

In [673]:
final_df.groupby('Delivery_person_Age').median()

,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min),Time_Orderd_hrs,Time_Orderd_min,Time_Order_picked_hrs,Time_Order_picked_min,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
Delivery_person_Age,,,,,,,,,,,,,,,,
15,1.0,13.122965,76.851306,3.0,1.0,26.5,21.0,55.0,21.0,32.5,0.0,3.0,1.0,1.0,1.0,2.0
20,4.7,18.626832,76.315997,1.0,1.0,21.0,18.0,35.0,18.0,35.0,2.0,2.0,1.0,3.0,1.0,2.0
21,4.7,18.596258,75.982471,1.0,1.0,22.0,18.0,35.0,18.0,35.0,3.0,2.0,2.0,3.0,1.0,2.0
22,4.7,18.625234,76.028497,1.0,1.0,22.0,18.0,35.0,18.0,35.0,2.0,2.0,1.0,3.0,1.0,2.0
23,4.7,18.673099,75.972659,1.0,1.0,22.0,18.0,35.0,18.0,35.0,2.0,2.0,2.0,3.0,1.0,2.0
24,4.7,18.736215,75.984571,1.0,1.0,22.0,18.0,35.0,18.0,35.0,2.0,2.0,1.0,3.0,1.0,2.0
25,4.7,18.637707,75.964294,1.0,1.0,22.0,18.0,35.0,18.0,32.0,2.0,2.0,1.0,3.0,1.0,2.0
26,4.7,18.673626,75.997648,1.0,1.0,22.0,18.0,35.0,18.0,35.0,3.0,2.0,1.0,3.0,1.0,2.0
27,4.7,18.638955,75.981168,1.0,1.0,22.0,18.0,35.0,18.0,35.0,2.0,2.0,1.0,3.0,1.0,2.0
28,4.7,18.656947,75.983400,1.0,1.0,22.0,18.0,35.0,18.0,35.0,2.0,2.0,2.0,3.0,1.0,2.0
29,4.7,18.640963,75.951991,1.0,1.0,21.0,18.0,35.0,18.0,35.0,2.0,2.0,1.0,3.0,1.0,2.0
30,4.8,18.613100,76.345360,1.0,1.0,27.0,21.0,50.0,21.0,35.0,2.0,2.0,1.0,3.0,1.0,2.0
31,4.7,18.609227,76.016661,1.0,1.0,29.0,18.0,35.0,18.0,35.0,2.0,2.0,2.0,3.0,1.0,2.0
32,4.7,18.630016,76.022471,1.0,1.0,29.0,18.0,35.0,18.0,35.0,2.0,2.0,2.0,3.0,1.0,2.0
33,4.7,18.603811,76.365199,1.0,1.0,28.0,18.0,35.0,18.0,35.0,3.0,2.0,2.0,3.0,1.0,2.0
34,4.7,18.646216,76.017648,1.0,1.0,29.0,18.0,35.0,18.0,35.0,2.0,2.0,2.0,3.0,1.0,2.0
35,4.7,18.623811,76.376106,1.0,1.0,29.0,18.0,35.0,18.0,35.0,3.0,2.0,2.0,3.0,1.0,2.0
36,4.7,18.723481,75.966362,1.0,1.0,29.0,18.0,35.0,18.0,35.0,3.0,2.0,2.0,3.0,1.0,2.0
37,4.7,18.647937,76.017585,1.0,1.0,28.0,18.0,35.0,18.0,35.0,3.0,2.0,2.0,3.0,1.0,2.0
38,4.7,18.631440,75.977539,1.0,1.0,29.0,18.0,35.0,18.0,35.0,2.0,2.0,1.0,3.0,1.0,2.0
39,4.7,18.644080,76.004377,1.0,1.0,29.0,18.0,35.0,18.0,35.0,2.0,2.0,1.5,3.0,1.0,2.0
50,6.0,17.525894,77.635999,3.0,1.0,22.0,21.0,55.0,21.0,30.0,0.0,3.0,1.0,1.0,1.0,2.0