In [456]:
import pandas as pd
import numpy as np
import seaborn as sns

In [457]:
df=pd.read_csv('data/finalTrain.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [458]:
print(df['Time_Order_picked'].iloc[45581])
print(df['Time_Orderd'].iloc[45581])

24:05:00
23:50

In [459]:
df.shape

(45584, 20)

In [460]:
df.drop(columns=['Order_Date'],axis=1,inplace=True)

In [461]:
from pandas_profiling import ProfileReport
pf = ProfileReport(df)

In [462]:
# pf.to_widgets()

In [463]:
#As we can notice high correlation between (Delivery_location_latitude,Restaurant_latitude) and (Restaurant_longitude,Delivery_location_longitude) so we can remove each feature from both of the groups
df.drop(columns=['Restaurant_latitude','Restaurant_longitude'],inplace=True)

In [464]:
#Dropping id column
df.drop(columns=['ID'],inplace=True)

In [465]:
df.isnull().sum()

Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Delivery_location_latitude        0
Delivery_location_longitude       0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [466]:
df['Delivery_person_Age'].fillna(df['Delivery_person_Age'].median(),inplace=True)
df['Delivery_person_Ratings'].fillna(df['Delivery_person_Ratings'].mode()[0],inplace=True)
df['multiple_deliveries'].fillna(df['multiple_deliveries'].mode()[0],inplace=True)

In [467]:
df.select_dtypes('number').isna().sum()

Delivery_person_Age            0
Delivery_person_Ratings        0
Delivery_location_latitude     0
Delivery_location_longitude    0
Vehicle_condition              0
multiple_deliveries            0
Time_taken (min)               0
dtype: int64

In [468]:
df.select_dtypes('object').isna().sum()

Delivery_person_ID         0
Time_Orderd             1731
Time_Order_picked          0
Weather_conditions       616
Road_traffic_density     601
Type_of_order              0
Type_of_vehicle            0
Festival                 228
City                    1200
dtype: int64

In [469]:
df['City'].fillna(df['City'].mode()[0],inplace=True)
df['Festival'].fillna(df['Festival'].mode()[0],inplace=True)
df['Road_traffic_density'].fillna(df['Road_traffic_density'].mode()[0],inplace=True)
df['Time_Orderd'].fillna(df['Time_Orderd'].mode()[0],inplace=True)
df['Weather_conditions'].fillna(df['Weather_conditions'].mode()[0],inplace=True)

In [470]:
df.select_dtypes('object').isna().sum()

Delivery_person_ID      0
Time_Orderd             0
Time_Order_picked       0
Weather_conditions      0
Road_traffic_density    0
Type_of_order           0
Type_of_vehicle         0
Festival                0
City                    0
dtype: int64

In [471]:
df.isnull().sum()

Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Delivery_location_latitude     0
Delivery_location_longitude    0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

In [472]:
df.dtypes

Delivery_person_ID              object
Delivery_person_Age            float64
Delivery_person_Ratings        float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Time_Orderd                     object
Time_Order_picked               object
Weather_conditions              object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries            float64
Festival                        object
City                            object
Time_taken (min)                 int64
dtype: object

In [473]:
print(df['Time_Order_picked'].iloc[45581])
print(df['Time_Orderd'].iloc[45581])

24:05:00
23:50

In [474]:
df['Time_Orderd'].apply(lambda x:x if '.' not in x else f'00:{x*60}')

0        21:55
1        14:55
2        17:30
3        09:20
4        19:50
         ...
45579    11:35
45580    19:55
45581    23:50
45582    13:35
45583    17:10
Name: Time_Orderd, Length: 45584, dtype: object

In [475]:
df['Time_Orderd_hrs'] = df['Time_Orderd'].str.split(':').apply(lambda x: int(0 if '.' in x[0] else int(x[0])))
df['Time_Orderd_min'] = df['Time_Orderd'].str.split(':').apply(lambda x: int(x[1] if len(x)>1 else int(float(x[0])*60)))
df['Time_Order_picked_hrs'] = df['Time_Orderd'].str.split(':').apply(lambda x: int(0 if '.' in x[0] else int(x[0])))
df['Time_Order_picked_min'] = df['Time_Order_picked'].str.split(':').apply(lambda x: int(x[1] if len(x)>1 else int(float(x[0])*60)))

In [476]:
# Dropping Time_Orderd,Time_Order_picked
df.drop(columns=['Time_Orderd','Time_Order_picked'],axis=1,inplace=True)

In [477]:
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype(int)
df['multiple_deliveries'] = df['multiple_deliveries'].astype(int)

In [478]:
#Segregate numerical columns and categorical columns
numerical_columns = df.columns[df.dtypes!='object']
categorical_columns = df.columns[df.dtypes=='object']
print('numerical_columns',numerical_columns)
print('categorical_columns',categorical_columns)

numerical_columns Index(['Delivery_person_Age', 'Delivery_person_Ratings',
       'Delivery_location_latitude', 'Delivery_location_longitude',
       'Vehicle_condition', 'multiple_deliveries', 'Time_taken (min)',
       'Time_Orderd_hrs', 'Time_Orderd_min', 'Time_Order_picked_hrs',
       'Time_Order_picked_min'],
      dtype='object')
categorical_columns Index(['Delivery_person_ID', 'Weather_conditions', 'Road_traffic_density',
       'Type_of_order', 'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [479]:
df[numerical_columns]

,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min),Time_Orderd_hrs,Time_Orderd_min,Time_Order_picked_hrs,Time_Order_picked_min
0,36,4.2,30.397968,78.116106,2,3,46,21,55,21,10
1,21,4.7,10.043064,76.347589,1,1,23,14,55,14,5
2,23,4.7,18.652450,74.006619,1,1,21,17,30,17,40
3,34,4.3,30.919584,75.829346,0,0,20,9,20,9,30
4,24,4.7,26.593504,80.502929,1,1,41,19,50,19,5
...,...,...,...,...,...,...,...,...,...,...,...
45579,30,4.8,26.912328,75.804257,1,0,32,11,35,11,45
45580,21,4.6,0.070000,0.070000,0,1,36,19,55,19,10
45581,30,4.9,13.052394,80.272439,1,0,16,23,50,23,5
45582,20,4.7,11.041753,77.026241,0,1,26,13,35,13,40
45583,23,4.9,23.431058,85.405731,2,1,36,17,10,17,15

In [480]:
cat_df=df[categorical_columns]
cat_df.head()

,Delivery_person_ID,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
0,DEHRES17DEL01,Fog,Jam,Snack,motorcycle,No,Metropolitian
1,KOCRES16DEL01,Stormy,High,Meal,motorcycle,No,Metropolitian
2,PUNERES13DEL03,Sandstorms,Medium,Drinks,scooter,No,Metropolitian
3,LUDHRES15DEL02,Sandstorms,Low,Buffet,motorcycle,No,Metropolitian
4,KNPRES14DEL02,Fog,Jam,Snack,scooter,No,Metropolitian

In [481]:
print('Weather_conditions',cat_df['Weather_conditions'].unique())
print('Road_traffic_density',cat_df['Road_traffic_density'].unique())
print('Type_of_order',cat_df['Type_of_order'].unique())
print('Type_of_vehicle',cat_df['Type_of_vehicle'].unique())
print('Festival',cat_df['Festival'].unique())
print('City',cat_df['City'].unique())

Weather_conditions ['Fog' 'Stormy' 'Sandstorms' 'Windy' 'Cloudy' 'Sunny']
Road_traffic_density ['Jam' 'High' 'Medium' 'Low']
Type_of_order ['Snack' 'Meal' 'Drinks' 'Buffet']
Type_of_vehicle ['motorcycle' 'scooter' 'electric_scooter' 'bicycle']
Festival ['No' 'Yes']
City ['Metropolitian' 'Urban' 'Semi-Urban']

In [483]:
categories = ['Fog','Stormy','Sandstorms','Windy','Cloudy','Sunny'],['Jam', 'High', 'Medium', 'Low'],['Drinks','Snack','Meal','Buffet'],['bicycle','electric_scooter','scooter','motorcycle'],['Yes','No'],['Semi-Urban','Urban','Metropolitian']
ordinal_cols = df[categorical_columns].drop(columns='Delivery_person_ID',axis=1)

In [484]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=list(categories))
encoded_columns = encoder.fit_transform(ordinal_cols)
encoded_df = pd.DataFrame(encoded_columns,columns=ordinal_cols.columns).astype(int)

In [485]:
encoded_df.head()

,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
0,0,0,1,3,1,2
1,1,1,2,3,1,2
2,2,2,0,2,1,2
3,2,3,3,3,1,2
4,0,0,1,2,1,2

In [486]:
#Merge encoded_df and numerical_df
final_df = pd.concat([df[numerical_columns],encoded_df],axis=1)
final_df.head()

,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min),Time_Orderd_hrs,Time_Orderd_min,Time_Order_picked_hrs,Time_Order_picked_min,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
0,36,4.2,30.397968,78.116106,2,3,46,21,55,21,10,0,0,1,3,1,2
1,21,4.7,10.043064,76.347589,1,1,23,14,55,14,5,1,1,2,3,1,2
2,23,4.7,18.652450,74.006619,1,1,21,17,30,17,40,2,2,0,2,1,2
3,34,4.3,30.919584,75.829346,0,0,20,9,20,9,30,2,3,3,3,1,2
4,24,4.7,26.593504,80.502929,1,1,41,19,50,19,5,0,0,1,2,1,2

First attempt

In [487]:
X = final_df.drop(columns=['Time_taken (min)'])
y = final_df['Time_taken (min)']

In [488]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [489]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
linear = LinearRegression()
linear.fit(X_train,y_train)

LinearRegression()

In [490]:
y_pred = linear.predict(X_test)
print('mean_squared_error',mean_squared_error(y_pred,y_test))
print('mean_absolute_error',mean_absolute_error(y_pred,y_test))
print('r2_score',r2_score(y_pred,y_test))

mean_squared_error 43.777271643079224
mean_absolute_error 5.227869161032922
r2_score 0.0022221522575982533

In [491]:
# apply standard scaler and then build model

In [492]:
final_df.head()

,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min),Time_Orderd_hrs,Time_Orderd_min,Time_Order_picked_hrs,Time_Order_picked_min,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
0,36,4.2,30.397968,78.116106,2,3,46,21,55,21,10,0,0,1,3,1,2
1,21,4.7,10.043064,76.347589,1,1,23,14,55,14,5,1,1,2,3,1,2
2,23,4.7,18.652450,74.006619,1,1,21,17,30,17,40,2,2,0,2,1,2
3,34,4.3,30.919584,75.829346,0,0,20,9,20,9,30,2,3,3,3,1,2
4,24,4.7,26.593504,80.502929,1,1,41,19,50,19,5,0,0,1,2,1,2

In [493]:
from pandas_profiling import ProfileReport
pf = ProfileReport(final_df)

In [494]:
# pf.to_widgets()

In [495]:
final_df.drop(columns=['Time_Order_picked_hrs','Time_Orderd_hrs'],axis=1,inplace=True)

In [496]:
#Calculating time difference order and pickup
x = []
for i in range(len(final_df)):
    if final_df['Time_Order_picked_min'][i] < final_df['Time_Orderd_min'][i]:
        x.append(final_df['Time_Order_picked_min'][i] + (60-final_df['Time_Orderd_min'][i]))
    else:
        x.append(final_df['Time_Order_picked_min'][i] - final_df['Time_Orderd_min'][i])
final_df['Time_diff_bw_order_and_pickup'] = x

Second attempt

In [497]:
X = final_df.drop(columns=['Time_taken (min)'])
y = final_df['Time_taken (min)']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [498]:
linear2 = LinearRegression()
linear2.fit(X_train,y_train)

LinearRegression()

In [500]:
y_pred = linear2.predict(X_test)
print('mean_squared_error',mean_squared_error(y_pred,y_test))
print('mean_absolute_error',mean_absolute_error(y_pred,y_test))
print('r2_score',r2_score(y_pred,y_test))

mean_squared_error 45.467414893097995
mean_absolute_error 5.312198552546434
r2_score -0.013015498355908761

In [502]:
# Tommorow's task: apply StandardScaler